@font-face {
  font-family: 'open_sansregular';
  src: url('../font/opensans/opensans_regular_macroman/OpenSans-Regular-webfont.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('../font/opensans/opensans_semibold_macroman/OpenSans-Semibold-webfont.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansitalic';
  src: url('../font/opensans/opensans_italic_macroman/OpenSans-Italic-webfont.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}