.info {
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin-top: 30px;
  @media (min-width: $tablet) {
    padding-bottom: 10px;
  }

  .pic {
    border-radius: 50%;
    max-width: 350px;
  }

  .title {
    font-size: 40px;
    margin: 20px 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #ddd;
    font-weight: normal;
    font-family: $font-bold;
  }

  .title-passive {
    color: #808080;
  }

  .sub {
    font-family: $font-normal;
    font-weight: normal;
    line-height: 40px;
    font-size: 30px;
    margin: 10px 0;
  }
}

.flag {
  vertical-align: middle;
  border-radius: 2px;
}

.links {
  list-style: none;
  padding: 0;

  li {
    line-height: 40px;
    @media (min-width: $mobile) {
      display: inline-block;
      margin: 3px 8px;
      width: 230px;
    }
  }

  img {
    vertical-align: middle;
  }
}

.skills-list {
  ul {
    list-style: none;
    padding: 0;
    margin: 5px 0 15px 0;
  }

  li {
    display: inline-block;
    margin: 4px 4px 4px 4px;
  }

  .title {
    display: block;
    margin: 0;
  }

  .item {
    background: #0090ec;
    color: #fff;
    padding: 5px 7px;
    border-radius: 5px;
  }

  .item-logo {
    vertical-align: middle;
    margin-right: 5px;
    max-height: 21px;
  }
}

.portfolio-image {
  border-radius: 5px;
}

.frontpage {
  h2 {
    margin-top: 30px;
  }
}
