.header {
  margin: 0 auto 30px auto;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #ddd;
}

.header-menu {
  list-style: 'none';
  margin: 0;
  display: inline;
}

.header-logo {
  border-style: none;
  font-family: $font-italic;
}

.header-menu__li {
  display: inline;
  margin: 0 15px 0 0;
}

.header-menu__li a {
  border-style: none;
}
