.post-list__rss {
  border: 0;
  margin-left: 10px;
}

.post-list__date {
  font-size: 12px;
  margin-left: 5px;
}

.blog-post__title {
  margin-bottom: 5px;
}

.blog-post__date {
  font-family: $font-italic;
  font-size: 14px;
}

.blog-post__footer {
  border-top: 1px solid #ddd;
  padding: 15px 0 0 0;
}

.blog-post__tags {
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;

  li {
    display: inline;
    margin-right: 10px;
  }
}

.blog-post code.language-text {
  white-space: pre-line;
}

pre[class*="language-"] {
  border-radius: 5px;
}