h1,
h2,
h3,
h4,
h5 {
  font-family: $font-bold;
  line-height: 1.2;
  margin: 20px 0 5px 0;
}

b,
strong {
  font-weight: normal;
  font-family: $font-bold;
}

i,
cite,
em,
var,
address,
dfn {
  font-weight: normal;
  font-family: $font-italic;
}

p {
  margin: 0 0 16px 0;
}

a {
  color: $text-color;
  text-decoration: none;
  border-bottom: 1px dashed;
  font-weight: normal;
  font-family: $font-bold;
  &:hover {
    border-bottom-style: solid;
    color: #0090ec;
  }
}

li {
  margin-bottom: 5px;
}

blockquote {
  border-left: 5px solid $text-color;
  margin: 0;
  padding: 0 0 0 20px;
  font-family: $font-italic;
}

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

td,
th {
  padding: 5px 10px;
  border: 1px solid #ddd;
}

img {
  max-width: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 15px 0;
  padding: 0; 
}